/** {
	border: 1px solid red;
}*/

body { 
  background: url(/images/Basket-with-tasty-dairy-products-on-wooden-tray-on-dark-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
	font-family: Arial;
	font-size: 16px;
}


#quantity {
	float: right;
}

.quantity {
	text-align: center;
}

button {
	border-radius: 2px;
}


.items {
	padding: 5px 5px;
	margin: 10px 5px;
	background-color: white;
	border-radius: 2px;
}


.newItems {
	padding: 5px 5px;
	margin: 0px 5px;
	background-color: white;
	border-radius: 2px;
}


